include build/project.pug
	
-
  let data = {
    course_name: "Название курса в одну строку",
    main_title: "Еще больше возможностей",
    phone_name: "Samsung Galaxy S10",
    design_title: "Новый дизайн",
    design_items: [
      {
        img_path: "",
        text: "Абсолютно новый Infinity-O экран — на передней стороне смартфона нет ничего, кроме огромного экрана и фронтальной камеры."  
      },
      {
        img_path: "",
        text: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов."
      },
      {
        img_path: "",
        text: "Смартфоны доступны в 4х стильных цветах: Перламутр, Аквамарин, Оникс и Цитрус (для S10e). "
      },
      {
        img_path: "",
        text: "В моделях S10 и S10+ установлены защитные стекла нового поколения – Gorilla Glass 6."
      }
    ],
    camera_error_title: "Сканер отпечатка в экране",
    camera_title: "Съемка видео",
    camera_img_path: "",
    camera_items: [
      {
        img_path: "",
        text: "Отличное качество съемки новых поколениесмартфонов Samsung позволит создать и смотреть праздники, семейные торжества и памятные моменты на огромном экране, с яркими, живыми цветами и прекрасной детализацией."
      },
      {
        img_path: "",
        text: "Дополнительная система стабилизации сделает видеоролики плавными и красивыми."
      },
      {
        img_path: "",
        text: "Сверхзамедленная съемка (960 кадров в секунду) теперь в 2 раза дольше. Камера в S10 способна распознать  самое стремительное движение, такое как языки пламени, брызги воды, дым из под колес спорткара."
      }
    ],
    accessories_title: "Аксессуары",
    accessories_items: [
      {
        img_path: "",
        text: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
        text_ver2: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус."
      },
      {
        img_path: "",
        text: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.",
        text_ver2: "Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.",
        text_ver3: "Беспроводная зарядная станция Duo Pad быстро заряжает одновременно два устройства, одно из которых охлаждается."
      },
      {
        img_path: "",
        text: "Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп."
      },
      {
        img_path: "",
        text: "Смартфон S10 сразу укомплектован защитной пленкой."
      }
    ],
    services_title: "Приложения и сервисы Samsung",
    services_items: [
      {
        img_path: "",
        text: "Благодаря приложению Smart Switch можно перенести информацию со старого смартфона на новый."
      },
      {
        img_path: "",
        text: "Приложение Samsung Health помогает контролировать физическую активность и вести дневник питания."
      },
      {
        img_path: "",
        text: "Интеллектуальный помощник Bixby обеспечит быстрый доступ к переводчику, поиску в Интернете, покупкам и многому другому."
      },
      {
        img_path: "",
        text: "Приложение Samsung Pay дает возможность оплачивать свои покупки при помощи смартфона."
      },
      {
        img_path: "",
        text: "Благодаря приложению Smart Things можно управлять всеми смарт-устройствами дома."
      }
    ]
  };

+page(data)