include build/project.pug
	
-
  var data = {
    breadcrumbs: [
      {
        title: "Головной раздел",
        link: "#"
      },
      {
        title: "Предшествующий странице раздел",
        link: "#"
      }
    ],
    content_title: "Кафедра экономики и инвестиций",
    content: [
      "24/36. Крупный текст под основным заголовком. Кодекс определяет порядок действий работниковв ситуации конфликта интересов, объявляет нетерпимость к коррупционному поведению, закрепляет принципы заботы об экологии, запрета на дискриминацию.Отступ абзаца равен пустрой строке. Положения кодекса обязательны для исполнения работниками компании (в том числе всеми членами Правления.",
      "Отступ абзаца равен пустрой строке. Положения кодекса обязательны для исполнения работниками компании (в том числе всеми членами Правления, членами Совета директоров, являющимися работниками компании) и подконтрольных компании юридических лиц."
    ],
    content_usage_info: [
      {
        title: "Применение технологий искусственного интеллекта в нефтегазовой области",
        content: "Из курса вы узнаете о возможностях раздела 'Обучение и развитие', о том, что поможет в развитии собственных компетенций и о дополнительных возможностях в рамках обучения на портале"
      },
      {
        title: "Применение технологий искусственного интеллекта в нефтегазовой области",
        content: "Из курса вы узнаете о возможностях раздела 'Обучение и развитие', о том, что поможет в развитии собственных компетенций и о дополнительных возможностях в рамках обучения на портале" 
      }
    ],
    content_tags: [
      "Машинное обучение",
      "IBM",
      "AI",
      "Бухгалтерский учет и аудит"
    ],
    content_extra_info: [
      {
        title: "Классификаторы",
        links: [
          "Гидролиз в ходе реакций катаболизма",
          "Авиационная техника по горюче-смазочным материалам"
        ]
      },
      {
        title: "Компетенции",
        links: [
          "Изучение английского языка",
          "Новая тест",
          "Формирование стоимости строительства скважин и ЗБС",
          "Изучение английского языка",
          "Геонавигация горизонтальных скважин"
        ]
      }
    ],


    participants: [
      {
        name: "Константин Константинович Константинопольский",
        photo: "",
        positions: ["Руководитель сообщества", "Эксперт", "Внутренний тренер"],
        merits: ["Кандидат экономических наук", "профессор", "старший преподаватель"],
        activity_rating: "49"
      },
      {
        name: "Дмитрий Белоусов",
        photo: "",
        positions: ["Модератор"],
        merits: ["Кандидат экономических наук", "профессор"],
        activity_rating: "110"
      },
      {
        name: "Дмитрий Белоусов",
        photo: "",
        positions: ["Модератор"],
        merits: ["Кандидат экономических наук", "профессор"],
        activity_rating: "110"
      },
      {
        name: "Дмитрий Белоусов",
        photo: "",
        positions: ["Модератор"],
        merits: ["Кандидат экономических наук", "профессор"],
        activity_rating: "110"
      },
      {
        name: "Евгения Константинопольская",
        photo: "",
        positions: ["Руководитель сообщества", "Модератор"],
        merits: ["Аналитик смененная должность"],
        activity_rating: "15"
      },
      {
        name: "Иван Алексеев",
        photo: "",
        positions: ["Внутренний тренер", "Эксперт"],
        merits: ["Технический директор"],
        activity_rating: "68"
      },
      {
        name: "Иван Алексеев",
        photo: "",
        positions: ["Внутренний тренер", "Эксперт"],
        merits: ["Технический директор"],
        activity_rating: "68"
      },
      { 
        name: "Иван Алексеев",
        photo: "",
        positions: ["Внутренний тренер", "Эксперт"],
        merits: ["Технический директор"],
        activity_rating: "68"
      },
      {
        name: "Дмитрий Белоусов",
        photo: "",
        positions: ["Модератор"],
        merits: ["Кандидат экономических наук", "профессор"],
        activity_rating: "110"
      },
      {
        name: "Дмитрий Белоусов",
        photo: "",
        positions: "Модератор",
        merits: ["Кандидат экономических наук", "профессор"],
        activity_rating: "110"
      },
      {
        name: "Константин Константинович Константинопольский",
        photo: "",
        positions: ["Руководитель сообщества", "Эксперт", "Внутренний тренер"],
        merits: ["Кандидат экономических наук", "профессор", "старший преподаватель"],
        activity_rating: "49"
      },
      {
        name: "Константин Константинович Константинопольский",
        photo: "",
        positions: ["Руководитель сообщества", "Эксперт", "Внутренний тренер"],
        merits: ["Кандидат экономических наук", "профессор", "старший преподаватель"],
        activity_rating: "49"
      }
    ],

    popular_courses: [
      {
        type: "Электронный курс",
        title: "Первая подводная лодка Австралии HMAS AE1, пропавшая в 1914 году по неизвестным причинам, обнаружена у побережья островов Дьюк-оф-Йорк.",
        tags: ["Изучение английского языка", "Новая тест", "Формирование стоимости строительства офиса", "Изучение английского языка", "Геймификация HR процессов как искусство"],
        info: {
          sufficient_points: "80",
          people: "42",
          likes: "18"
        }
      },
      {
        type: "Электронный курс",
        title: "Как перестать тратить деньги: практика и психология",
        tags: ["Изучение английского языка", "Новая тест"],
        info: {
          sufficient_points: "90",
          people: "115",
          likes: "40"
        }
      },
      {
        type: "Электронный курс",
        title: "Тайм-менеджмент на Outlook 2010",
        tags: ["Изучение английского языка", "Новая тест", "Формирование стоимости строительства офиса", "Геймификация HR процессов как искусство"],
        info: {
          sufficient_points: "75",
          people: "141",
          likes: "78"
        }
      }
    ],

    applications: [
      {
        subdivision: "Лаборатория мультимедиа",
        function: "Современные технологии добычи нефти",
        initiator: "Рыжкова Елена Александровна",
        position: "Аналитик смененная должность",
        date: "12.04.2017",
        education_programm: "Организацияи управление инженерными изысканиями Организацияи управление инженерными изысканиями",
        price: "200 руб.",
        status: "Согласование линейным руководителем"
      },
      {
        subdivision: "Лаборатория мультимедиа",
        function: "Современные технологии добычи нефти",
        initiator: "Рыжкова Елена Александровна",
        position: "Аналитик смененная должность",
        date: "12.04.2017",
        education_programm: "Организацияи управление инженерными изысканиями Организацияи управление инженерными изысканиями",
        price: "200 руб.",
        status: "Согласование линейным руководителем"
      },
      {
        subdivision: "Лаборатория мультимедиа",
        function: "Современные технологии добычи нефти",
        initiator: "Рыжкова Елена Александровна",
        position: "Аналитик",
        date: "12.04.2017",
        education_programm: "Организацияи управление инженерными изысканиями Организацияи управление инженерными изысканиями",
        price: "200 руб.",
        status: "Согласование линейным руководителем"
      }
    ]
  };

+page(data)