.camera-item {
  display: flex;

  @media (max-width: 719px) {
    flex-direction: column;
  }

  &__pic {
    margin-right: 40px;

    @media (max-width: 719px) {
      margin: 0 0 20px 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 999px) {
      font-size: 14px;
    }
  }
}