.design-features {
  border: 1px solid red;

  display: grid;
  grid-template-columns: repeat(4, 222px);
  grid-template-rows: auto;
  justify-content: space-between;

  @media (max-width: 999px) {
    grid-template-columns: repeat(2, 325px);
  }

  @media (max-width: 719px) {
    grid-template-areas: 
      "main-1   main-1"
      "small-1  small-2"
      "main-2   main-2";
  }

  &__item {
    border: 1px solid green;

    @media (max-width: 719px) {
    }
  }
}

.area-main-1 {
  @media (max-width: 719px) {
    grid-area: main-1;
  }
}

.area-main-2 {
  @media (max-width: 719px) {
    grid-area: main-2;
  }
}

.area-small-1 {
  @media (max-width: 719px) {
    grid-area: small-1;
  }
}

.area-small-1 {
  @media (max-width: 719px) {
    grid-area: small-2;
  }
}