.design-item {
  display: flex;
  flex-direction: column;

  &__pic {
    margin-bottom: 25px;

    @media (max-width: 999px) {
    }
  }

  &__border {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    margin-bottom: 20px;

    position: relative;
    top: -1px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 999px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &_no-border {
    .design-item__border {
      display: none;
    }

    .design-item__pic {
      margin-bottom: 20px;
    }

    .design-item__description {
      @media (max-width: 719px) {
        font-size: 12px;
        line-height: 1.42;
      }
    }
  }

  &_main {
    background: #171717;
    border-radius: 5px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 25px;

    .design-item__pic {
      margin-bottom: 0px;
      align-self: center;

      clip-path: inset(1px 0px 0px 3px);

      @media (max-width: 999px) {
        width: 265px;
        margin: 0 auto;
        // height: 183px;
        clip-path: inset(2px 0px 0px 3px);
      } 

      @media (max-width: 719px) {
        width: 230px;
        // height: 158px;
      }
    }

    .design-item__border {
      opacity: 0.25;
      background-color: #FFFFFF;
    }

    .design-item__description {
      font-size: 14px;
      color: #ffffff;
      font-weight: normal;
      margin-right: 3px;
    }
  }
}