.design {
  // border: 1px solid red;

  &__title {
    margin: 0 0 54px;

    font-size: 30px;
    line-height: 1.33;

    @media (max-width: 999px) {
      margin-bottom: 40px;
    }

    @media (max-width: 719px) {
      margin-top: 20px;
      margin-bottom: 30px;

      font-size: 22px;
      line-height: 1.41;
    }
  }

  &__features {
    // margin-bottom: 60px;
  }
}