.content {
  padding: 0.1px 25px;
  position: relative;
  // border: 1px solid black;

  @media(max-width: 719px) {
    padding: 0 15px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 20.8%;
    height: 4px;
    background-color: #D70E2A;
    top: -1px;
    left: 0;

    @media(max-width: 719px) {
      display: none;
    }
  }

  &__phone-name {
    display: none;

    @media(max-width: 719px) {
      display: block;
      width: 100%;
      background-color: #EFEFEF;
      // border: 1px solid black;
    }
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 38px;
    line-height: 1.33;

    @media(max-width: 719px) {
      font-size: 30px;
    }
  }

  &__delimiter {
    margin: 0;
    height: 1px;
    background-color: black;
    opacity: 0.3;
  }

  &__design {

  }

  &__camera {
    margin-bottom: 100px;

    @media (max-width: 719px) {
      margin-bottom: 70px;
    }
  }

  &__accessories {
    margin-bottom: 60px;

    @media (max-width: 719px) {
      margin-bottom: 50px;
    }
  }
}