.camera {
  &__title {
    display: none;
  }

  &__title, 
  &__title_error {
    margin: 0 0 50px;
    
    font-weight: bold;
    font-size: 30px;
    line-height: 1.33;

    @media (max-width: 719px) {
      margin: 20px 0 30px;

      font-size: 22px;
      line-height: 1.41;
    }
  }

  @media (max-width: 999px) {
    &__title {
      display: block;
    }

    &__title_error {
      display: none;
    }
  }
}