.services {
  &__title {
    font-size: 30px;
    line-height: 1.33;
    margin: 0 0 50px;

    @media (max-width: 719px) {
      font-size: 22px;
      line-height: 1.41;
      margin: 0 0 30px;
    }
  }

  &__features {
  }
}