html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #e5e5e5; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul, nav {
  margin: 0;
  padding: 0;
  list-style: none; }
